*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scetch {
    width: 100vw;
    height: 100vh;
    padding: 100px;
}

.countainer{
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: auto;
}
 